@{
    ViewData["Title"] = "Home Page";
}
@*@using System;
@using System.Linq;
@using (var context = new LibreriaContext())
{
    var libros = context.Libros.ToList();
}*@


@*@using (var context = new LibreriaContext())
{
    var libros = new Libro();
    libros.Id = 1;
    libros.Nombre = "Steve Jobs. Lecciones de Liderazgo";
    libros.NumeroDePagina = 112;
    libros.PrecioVenta = 429;
    libros.PrecioCompra = 400;
}*@

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#id_libro</th>
            <th scope="col">num_pag</th>
            <th scope="col">nombre</th>
            <th scope="col">precio_venta</th>
            <th scope="col">precio_compra</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>

        </tr>

    </tbody>
</table>


<form>
    <div class="form-group">
        <label for="exampleInputEmail1">id_libro</label>
        <input type="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">num_pag</label>
        <input type="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">nombre</label>
        <input type="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">precio_venta</label>
        <input type="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">precio_compra</label>
        <input type="email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">cargar</button>
</form>




<script src="~/js/vue.min.js"></script>