@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LIBROS</h1>
  <br />
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id_libro</th>
            <th scope="col">nombre</th>
            <th scope="col">precio_venta</th>
            <th scope="col">precio_compra</th>
            <th scope="col">num_pag</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
       
     
        </tr>
    
    </tbody>
</table>



<div>
    <asp:Button id="btnAgregar" runat="server" contextmenu=" agregar" CssClass="btn btn-success" />
</div>
